a {
  text-decoration: underline;
  color: black;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.episode-details h3 {
  margin-top: 0px;
}

.episodes {
  border-bottom: 1px solid #68FACE;
  padding-bottom: 50px;
}

footer {
  padding-top: 50px;
  padding-bottom: 100px;
}

footer article:first-child {
  border-bottom: 1px solid #eee;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.jumbotron {
  padding: 90px 0px;
  margin-bottom: 70px;
  background-image: url("../images/background_1.png")
}

button {
  padding: 3px 40px;
  background: #68FACE;
  border: 1px solid white;
}

button:hover { background: #60F0BF }
button:active { outline: none }
button:focus { outline: none }
a.button {
  color: black;
  text-decoration: none;
}
