.cta {
  @include padding($base-spacing/7 ($base-spacing));
  border: 1px solid tint($base-font-color, 70%);
  color: tint($base-font-color, 50%);
  font-size: modular-scale(1);
  font-weight: bold;
}

.itunes-link {
  background: $bright-blue;
  color: #fff;
  font-size: modular-scale(0);
  border: none;
}

.rss-feed {
  border: none;
  background: $orange;
  font-size: modular-scale(0);
  color: #fff;
}

