.alt-section,
.primary-section,
.left-section,
.right-section {
  @include padding(($base-spacing * 4) null);
}

.alt-section {
  background-color: #fdfdfd;
}

.left-section, .right-section {
  width: 50%;
}

.left-section {
  background-color: tint($base-background-color, 75%);
}

.two-sections {
  @include display(flex);
}
