.alt-section,
.primary-section,
.left-section,
.right-section {
  @include padding($base-spacing);

  @include media($medium-screen-up) {
    @include padding(($base-spacing * 3) null);
  }
}

.alt-section {
  background-color: #f3f3f3;
}

.left-section, .right-section {
  @include outer-container;
  width: 100%;
  @include media($medium-screen-up) {
    width: 50%;
  }

}

.left-section {
  background-color: tint($base-background-color, 75%);
}

.two-sections {
  @include media($medium-screen-up) {
    @include display(flex);
  }
}
