.tag {
  @include padding($base-spacing/7 ($base-spacing));
  color: #fff;
  font-weight: bold;
  font-size: modular-scale(-1);
  background: $action-color;
  border-radius: $base-spacing;
}

.tag.codenewbie {
  background: $codenewbie;
}

.tag.hanselminutes {
  background: $hanselminutes;
}
