.episode {
  @include display(flex);
  background-color: #fff;
  box-shadow: 1px 1px 2px #d3d3d3;
  &:not(:last-child) {
    margin-bottom: $base-spacing * 2;
  }
}

.episode-header,
.episode-description {
  padding: $base-spacing;
  position: relative;

  @include media($medium-screen-up) {
    width: 50%;
  }
}

.episode-description-body {
  margin-bottom: $base-spacing;
}

.episode-date {
  color: tint($base-font-color, 15%);
  font-size: modular-scale(-1);
}

.episode-description-links {
  position: absolute;
  right: 1.5em;
  bottom: $base-spacing;
}

.episode-guest {
  margin-bottom: 0;

  &::before {
    content: "with ";
    font-family: $georgia;
    font-style: italic;
    font-weight: normal;
  }
}

.episode-header {
  background-color: tint($base-background-color, 75%);

  .media-object {
    @include align-items(center);
    margin-bottom: $base-spacing;
  }
}

.episode-image {
  width: 5em;

  img {
    border-radius: 50%;
  }
}

.episode-player {
  width: 100%;
}

.episode-title {
  font-size: modular-scale(1);
  margin-bottom: 0.2em;
}

