.episode {
  background-color: #fff;
  border: 2px solid #eee;
  &:not(:last-child) {
    margin-bottom: $base-spacing * 2;
  }

  @include media($medium-screen-up) {
    @include display(flex);
  }
}

.episode-header,
.episode-description {
  padding: $base-spacing;
  width: 100%;

  @include media($medium-screen-up) {
    width: 50%;
  }
}

.episode-description-body {
  margin-bottom: $base-spacing;
}

.episode-date {
  color: tint($base-font-color, 15%);
  font-size: modular-scale(-1);
}

.episode-description-links {
  @include margin($base-spacing 0);
}

.episode-guest {
  margin-bottom: 0;

  &::before {
    content: "with guest ";
    font-family: $georgia;
    font-style: italic;
    font-weight: normal;
  }
}

.episode-header {
  background-color: tint($base-background-color, 75%);

  .media-object {
    @include align-items(center);
    margin-bottom: $base-spacing;
  }
}

.episode-image {
  width: 5em;

  img {
    border-radius: 50%;
  }
}

.episode-player {
  width: 100%;
}

.episode-title {
  font-size: modular-scale(1);
  margin-bottom: 0.2em;
  color: $base-font-color;

  &:hover {
    text-decoration: underline;
  }
}

