.site-header {
  background-color: lightblue;
  background-image: url("../../images/mobile-background-image.jpg");
  background-size: 100%;
  border-bottom: 1px solid rgba(126, 126, 126, .2);

  @include media($medium-screen-up) {
    @include padding(($base-spacing * 6) null ($base-spacing * 2));
    background-image: url("../../images/artsy.JPG");
  }

  .site-title {
    color: #000;
    font-size: modular-scale(3);
    margin-bottom: 0.4em;

    @include media($medium-screen-up) {
      font-size: modular-scale(5);
    }
  }

  .site-tagline {
    font-size: modular-scale(1);
    max-width: 20em;
    font-style: italic;
  }
}
.site-header-content {
  background-color: rgba(255, 255, 255, .7);
  padding: $base-spacing * 2;
  .callout {
    float: left;
  }
}
