---
title: March is for Makers - A month-long celebration of hardware
---
<header class="site-header" role="banner">
  <div class="wrapper site-header-content">
    <h1 class="site-title">March is for Makers</h1>
      <div class="callout">
        <h3 class="intro-highlight">Curious about hardware and the maker movement?</h3>
        <p class="site-introduction">
          Hanselminutes and CodeNewbie are teaming up to produce two episodes a
          week for the month of March, featuring incredible makers in the hardware space.
          New content each week, so subscribe and stay tuned.
        </p>
        <a class="twitter-hashtag-button"
          href="https://twitter.com/intent/tweet?button_hashtag=#MarchIsForMakers&text=Spread+the+word+and+learn+all+about+the+Maker+Movement+and+create+cool+hardware+projects%21+http%3A%2F%2Fmarchisformakers.com"
          data-related="twitter">
          Tweet #MarchIsForMakers
        </a>
      </div>
  </div>
</header>

<main class="page-main" role="main">

  <section id="episodes" class="primary-section">
    <div class="wrapper">
      <div class="episode">
        <div class="episode-header">
          <div class="media-object">
            <figure class="episode-image media-figure">
              <img src="http://frelow.smugmug.com/CodeNewbie/i-2hwDLN5/0/S/rebecca-S.jpg">
            </figure>
            <div class="episode-metadata media-metadata">
              <h3 class="episode-title">Changing Careers from Software to Hardware</h3>
              <h3 class="episode-guest">Sara Chipps</h3>
              <time class="episode-date" datetime="2014-10-13">October 13, 2014</time>
            </div>
          </div>
          <audio class="episode-player" controls>
            <source src="http://static1.squarespace.com/static/5161ac76e4b0d5cb924e7ed5/t/54eacd17e4b056f5cc430c48/1424674182475/Sarah_Frisk_Interview_mixdown.mp3/original/Sarah_Frisk_Interview_mixdown.mp3">
            </audio>
            <p class="media-object-links">
              <span class="codenewbie tag">CodeNewbie</span>
              <a href="http://feeds.podtrac.com/q8s8ba9YtM6r" class="cta rss-feed">RSS</a>
              <a href="https://itunes.apple.com/us/podcast/codenewbie/id919219256" class="cta itunes-link">iTunes</a>
            </p>
        </div>
        <div class="episode-description">
          <div class="episode-description-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi consequat dapibus lorem, luctus viverra leo pretium at. Mauris nisl elit, aliquam id nulla eu, suscipit condimentum leo. Sed dapibus facilisis urna sit amet varius.</p>
         </div>
          <div class="episode-description-links">
            <a class="cta js-show-notes">Show Notes</a>
          </div>
          <div class="show-notes">
            <ul>
              <li><a href="#">This is a show note</a></li>
              <li><a href="#">Really cool robot link here</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="episode">
        <div class="episode-header">
          <div class="media-object">
            <figure class="episode-image media-figure">
              <img src="http://images.hanselminutes.com/images/465.jpg">
            </figure>
            <div class="episode-metadata media-metadata">
              <h3 class="episode-title"><a href="http://hanselminutes.com/465">3D Printing with Printrbot</a></h3>
              <h3 class="episode-guest">Brook Drumm</h3>
              <time class="episode-date" datetime="2014-10-13">October 13, 2014</time>
            </div>
          </div>
          <audio class="episode-player" controls><source src="http://www.podtrac.com/pts/redirect.mp3/s3.amazonaws.com/hanselminutes/hanselminutes_0465.mp3" type="audio/mp3"></audio>
            <p class="media-object-links">
              <span class="hanselminutes tag">Hanselminutes</span>
              <a href="http://www.hanselminutes.com/subscribe" class="cta rss-feed">RSS</a>
              <a href="https://itunes.apple.com/us/podcast/hanselminutes/id117488860" class="cta itunes-link">iTunes</a>
            </p>
        </div>
        <div class="episode-description">
          <div>
            <p>Brook Drumm took a successful Kickstarter and turned it into a fantastic business making Printrbot 3D Printers. Brook is also a co-star on the new Science Channel TV show "All-American Makers." </p>
          </div>
          <div class="episode-description-links">
            <a class="cta js-show-notes">Show Notes</a>
          </div>
          <div class="show-notes">
            <ul>
              <li><a href="http://www.thingiverse.com">Thingiverse - Library of Creative Commons 3D models</a></li>
              <li><a href="http://www.hanselman.com/blog/CategoryView.aspx?category=3D+Printing">The 3D Printing Category of Scott's Blog</a></li>
              <li><a href="http://www.printrbot.com/">Printrbot - High quality, affordable 3D Printers</a></li>
              <li><a href="http://www.sciencechannel.com/tv-shows/all-american-makers/">"All-American Makers" on the Science Channel</a></li>
              <li><a href="http://www.hanselman.com/blog/TheBasicsOf3DPrintingIn2015FromSomeoneWith16WHOLEHOURSExperience.aspx">The Basics of 3D Printing in 2015</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section id="about" class="alt-section">
    <div class="wrapper">
      <div class="callout">
        <h3 class="intro-highlight">About</h3>
        <h2 class="site-tagline">A month-long celebration of hardware and the power of making.</h2>
        <p>The Maker Movement is in full swing.
          This rekindled excitement about hardware and manufacturing has us
          thrilled and sharing the joy of making with our family and friends.
          It’s the beginning of Arts and Crafts 2.0 for makers, new and old.
          So we are declaring this month Maker’s Month.</p>

        <p>We’re <strong>Saron Yitbarek and Scott Hanselman, </strong>hosts of the CodeNewbie Podcast and Hanselminutes respectively.
          This month, we’ll produce <strong>two episodes a week on each of our podcasts</strong>.
          Join us on Mondays and Thursday all March long for new shows  with incredible
          people creating  amazing stuff with DIY manufacturing, and innovative hardware.</p>

        <p>Each show includes <strong>links to projects you can explore, books you can download,
          products you can buy, teaching materials for the classroom,</strong> as well as lots of websites and other podcasts.
          We have no affiliation with any of the guests or their companies, other
          than we love their work and think you will too.</p>

        </p>
      </div>
    </div>
  </section>

  <section id="podcast-about" class="two-sections">
    <div class="left-section">
      <div class="left-wrapper">
        <article>
           <figure class="episode-image media-figure">
              <img src="/images/saronhead.jpg">
            </figure>
          <h3><a href="http://www.codenewbie.org/podcast">CodeNewbie Podcast</a></h3>
          <p>We are the most supportive community of programmers and people learning to code.
            Tune in every week for stories about people on their coding journey</p>
          <a class="cta rss-feed" href="http://feeds.podtrac.com/q8s8ba9YtM6r" role="button">Subscribe</a>
          <a class="cta itunes-link" role="button" href="https://itunes.apple.com/us/podcast/codenewbie/id919219256" role="button">iTunes</a>
        </article>
      </div>
    </div>

    <div class="right-section">
      <div class="right-wrapper">
        <article>
          <figure class="episode-image media-figure">
              <img src="/images/scotthead.jpg">
            </figure>
          <h3><a href="http://hanselminutes.com">Hanselminutes</a></h3>
          <p>Hanselminutes is "Fresh Air for Developers." We're a weekly NPR-style interview show
            with diverse technical voices and deep technical conversations.</p>
          <a class="cta rss-feed" href="http://www.hanselminutes.com/subscribe" role="button">Subscribe</a>
          <a class="cta itunes-link" href="https://itunes.apple.com/us/podcast/hanselminutes/id117488860" role="button">iTunes</a>
        </article>
      </div>
    </div>
  </section>
</main>

<footer class="site-footer" role="contentinfo">

</footer>


