---
title: March is for Makers - A month-long celebration of hardware
---
<header class="site-header" role="banner">
  <div class="wrapper site-header-content">
    <h1 class="site-title">March is for Makers</h1>
    <div class="callout">
      <h3 class="intro-highlight">Curious about hardware and the maker movement?</h3>
      <p class="site-introduction">
        <strong>Hanselminutes and CodeNewbie are teaming up</strong> to produce two episodes a
        week for the month of March, featuring incredible makers in the hardware space.<br/>
        There will be new content <strong>every weekday in March</strong>, so subscribe and join us daily.
      </p>
      <p class="site-introduction">Help us out by spreading the word!</p>
      <a class="twitter-hashtag-button"
        href="https://twitter.com/intent/tweet?button_hashtag=#MarchIsForMakers&text=Spread+the+word+and+learn+all+about+the+Maker+Movement+and+create+cool+hardware+projects%21+http%3A%2F%2Fmarchisformakers.com"
        data-related="twitter">
        Tweet #MarchIsForMakers
      </a>
    </div>
  </div>
</header>

<main class="page-main" role="main">

  <section id="episodes" class="primary-section">
    <div class="wrapper">
    
     <div class="episode">
        <div class="episode-header">
          <div class="media-object">
            <figure class="episode-image media-figure">
              <img src="http://images.hanselminutes.com/images/467.jpg">
            </figure>
            <div class="episode-metadata media-metadata">
              <h3 class="episode-title"><a href="http://hanselminutes.com/467">Learning Robots with Dr. Ayanna Howard of Zyrobotics</a></h3>
              <h3 class="episode-guest">Dr. Ayanna Howard</h3>
              <time class="episode-date" datetime="2015-03-20">March 20, 2015</time>
            </div>
          </div>
          <audio class="episode-player" controls><source src="http://www.podtrac.com/pts/redirect.mp3/s3.amazonaws.com/hanselminutes/hanselminutes_0467.mp3" type="audio/mp3"></audio>
            <p class="media-object-links">
              <span class="hanselminutes tag">Hanselminutes</span>
              <a href="http://www.hanselminutes.com/subscribe" class="cta rss-feed">RSS</a>
              <a href="https://itunes.apple.com/us/podcast/hanselminutes/id117488860" class="cta itunes-link">iTunes</a>
            </p>
          </div>
          <div class="episode-description">
            <div>
              <p>Today we talk to Dr. Ayanna Howard about robots. Dr. Howard has a Ph.D. in Electrical Engineering as well as an MBA from Claremont, and she teaches at the School of Electrical and Computer Engineering at the Georgia Institute of Technology. She is also the Founder and CTO of Zyrobotics, a technology startup dedicated to inclusive technology inventions. Dr. Howard also worked with NASA JPL on the Mars Rovers. </p>
            </div>
            <div class="episode-description-links">
              <a class="cta js-show-notes">Show Notes</a>
            </div>
            <div class="show-notes">
              <ul>
                <li><a href="https://www.youtube.com/watch?v=WejeIgo5cRc">Make robots smarter - Ayanna Howard</a></li>
                <li><a href="http://www.ece.gatech.edu/faculty-staff/fac_profiles/bio.php?id=135">Dr. Howard at Georgia Tech</a></li>
                <li><a href="http://www.zyrobotics.com">Zyrobotics - A Georgia Tech start-up</a></li>
                <li><a href="http://sciencecareers.sciencemag.org/career_magazine/previous_issues/articles/2014_10_09/caredit.a1400251">Building the Bionic Woman</a></li>
                <li><a href="https://www.youtube.com/watch?v=q4y8YAMPFhk">Video Trailer: &quot;Robot and Frank&quot;</a></li>
                <li><a href="http://www.amazon.com/gp/product/B00EMXBDMA?ie=UTF8&amp;camp=213733&amp;creative=393177&amp;creativeASIN=B00EMXBDMA&amp;linkCode=shr&amp;tag=diabeticbooks&amp;linkId=UZGUORAMP5TITBPD">Book: &quot;The Martian&quot; by Andy Weir</a></li>
              </ul>
            </div>
          </div>
        </div>
    
    
    
            <div class="episode">
              <div class="episode-header">
                <div class="media-object">
                  <figure class="episode-image media-figure">
                    <img src="http://frelow.smugmug.com/CodeNewbie/i-339GTcs/0/O/julian.jpg">
                  </figure>
                  <div class="episode-metadata media-metadata">
                    <h3 class="episode-title"><a href="http://www.codenewbie.org/blogs/everything-you-ever-wanted-to-know-about-arduino-and-raspberry-pi">Everything You Ever Wanted to Know About Arduino and Raspberry Pi</a></h3> 
                    <h3 class="episode-guest">Julian Feliciano</h3>
                    <time class="episode-date" datetime="2015-3-22">March 22, 2015</time>
                  </div>
                </div>
                <p class="media-object-links">
                  <span class="codenewbie tag">CodeNewbie</span>
                </p>
              </div>
              <div class="episode-description">
                <div>
                  <p>
                    In <a href="http://www.codenewbie.org/blogs/everything-you-ever-wanted-to-know-about-arduino-and-raspberry-pi">this blog post</a>,
                    we talk about two very popular tools in hardware - Arduino and Raspberry Pi.
                    If you've ever wondered how each got started and what they do, this is the perfect blog post for you.
                    We dive into the technical differences between a microcontroller and a microprocessor, a little bit of history for both, and
                    show you a few beginner projects to get you started.
                  </p>
                </div>
              </div>
            </div>
        <div class="episode">
          <div class="episode-header">
            <div class="media-object">
              <figure class="episode-image media-figure">
                <img src="https://pbs.twimg.com/profile_images/446419165444710400/KWnO3_VY.png">
              </figure>
              <div class="episode-metadata media-metadata">
                <h3 class="episode-title">
                  <a href="http://www.codenewbie.org/chats/software-in-the-maker-movement">#CodeNewbie Twitter Chat: Software In The Maker Movement</a>
                </h3>
                <h3 class="episode-guest">CodeNewbie</h3>
                <time class="episode-date" datetime="2015-3-18">March 18, 2015</time>
              </div>
            </div>
            <p class="media-object-links">
              <span class="codenewbie tag">CodeNewbie</span>
            </p>
          </div>
          <div class="episode-description">
            <div>
              <p>
                We talked to Matt Richardson of the Raspberry Pi Foundation about the future
                of hardware and the Maker Movement.
                And we wanted to chat with you about how software fits the hardware movement.
                Take a look at our <a href="https://storify.com/CodeNewbies/software-in-the-maker-movement">storified chat</a>
                and let us know how you feel software and hardware work together.
              </p>
            </div>
          </div>
        </div>
      <div class="episode">
        <div class="episode-header">
          <div class="media-object">
            <figure class="episode-image media-figure">
              <img src="http://frelow.smugmug.com/CodeNewbie/i-4mcKwG9/0/S/printrbot-S.jpg">
            </figure>
            <div class="episode-metadata media-metadata">
              <h3 class="episode-title"><a href="https://youtu.be/sup_gntnXig">3D Printing For Beginners</a></h3>
              <h3 class="episode-guest">Saron and Scott</h3>
              <time class="episode-date" datetime="2015-3-17">March 17, 2015</time>
            </div>
          </div>
          <div class="embed-container">
            <iframe width="475" height="267"  src="https://www.youtube.com/embed/sup_gntnXig" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="episode-description">
          <div>
            <p>Our second <a href="https://youtu.be/sup_gntnXig">Live Google Hangout</a>! Scott and Saron
              explore 3D printing and take a look at how it works. They walk through the parts of the actual
              printer, do some printing, and see how it does its thing. But it's not all about the printer,
              there's a lot of software that's involved too. They look at how to design different objects for printing,
              talk about the different settings and configurations for how to print different things, and show you
              what online tools you can use to get started.
            </div>
          </div>
        </div>
        <div class="episode">
          <div class="episode-header">
            <div class="media-object">
              <figure class="episode-image media-figure">
                <img src="http://frelow.smugmug.com/CodeNewbie/i-G5HZMdR/0/S/matt_richardson-S.jpg">
              </figure>
              <div class="episode-metadata media-metadata">
                <a href="http://www.codenewbie.org/podcast/intro-to-raspberry-pi"><h3 class="episode-title">Intro To Raspberry Pi</h3></a>
                <h3 class="episode-guest">Matt Richardson</h3>
                <time class="episode-date" datetime="2015-03-16">March 16, 2015</time>
              </div>
            </div>
            <audio class="episode-player" controls>
              <source src="http://www.podtrac.com/pts/redirect.mp3/static1.squarespace.com/static/5161ac76e4b0d5cb924e7ed5/t/5506335fe4b0595113f4cd93/1426469792856/Matt_Richardson_interview_mixdown.mp3/original/Matt_Richardson_interview_mixdown.mp3">
              </audio>
              <p class="media-object-links">
                <span class="codenewbie tag">CodeNewbie</span>
                <a href="http://feeds.podtrac.com/q8s8ba9YtM6r" class="cta rss-feed">RSS</a>
                <a href="https://itunes.apple.com/us/podcast/codenewbie/id919219256" class="cta itunes-link">iTunes</a>
              </p>
            </div>
            <div class="episode-description">
              <div class="episode-description-body">
                <p>Matt Richardson, evangelist for the Raspberry Pi Foundation, talks to us about the little computer that's making hardware accessible to more people. We talk about what the Raspberry Pi is, discuss some beginner friendly projects, and chat about a cool bike-based hardware project he made. If you've been thinking about getting started with the Raspberry Pi, this episode is for you.</p>
              </div>
              <div class="episode-description-links">
                <a class="cta js-show-notes">Show Notes</a>
              </div>
              <div class="show-notes">
                <h4>Links</h4>
                <ul>
                  <li><a href="http://www.thinkful.com/codenewbie" target="blank">Sponsor: Thinkful</a></li>
                  <li><a href="http://www.sitepoint.com/" target="blank">Sponsor: Sitepoint</a></li>
                  <li><a href="http://www.codenewbie.org/podcast/the-hard-way" target="blank">Zed Shaw Episode</a></li>
                  <li><a href="http://www.linux.com/" target="blank">Linux</a></li>
                  <li><a href="http://en.wikipedia.org/wiki/Linus_Torvalds" target="blank">Linus Torvalds</a></li>
                  <li><a href="http://mattrichardson.com/Dynamic-Bike-Headlight/index.html" target="blank">Dynamic Bike Headlight</a></li>
                  <li><a href="http://www.amazon.com/gp/product/B00B67DSZU/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B00B67DSZU&amp;linkCode=as2&amp;tag=coden-20&amp;linkId=N4SBYNRDUZJWGGX4" target="blank">Hall Effect Sensor</a></li>
                  <li><a href="http://makezine.com/projects/cycle-chaser/" target="blank">Cycle Chaser project</a></li>
                  <li><a href="http://www.instructables.com/id/Blinking-LED-with-Raspberry-Pi-1/" target="blank">Blinking LED with Raspberry Pi</a></li>
                  <li><a href="http://www.raspberrypi.org/" target="blank">Raspberry Pi Foundation</a></li>
                  <li><a href="http://www.raspberrypi.org/learning/getting-started-with-minecraft-pi/" target="blank">Minecraft on Raspberry Pi</a></li>
                  <li><a href="http://www.raspberrypi.org/learning/getting-started-with-scratch/" target="blank">Scratch on Raspberry Pi</a></li>
                  <li><a href="http://www.wolfram.com/raspberry-pi/" target="blank">Wolfram + Raspberry Pi</a></li>
                  <li><a href="http://raspberry.io/wiki/how-to-get-python-on-your-raspberrypi/" target="blank">Python on your Raspberry Pi</a></li>
                  <li><a href="http://www.amazon.com/gp/product/B00M55C0NS/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B00M55C0NS&amp;linkCode=as2&amp;tag=coden-20&amp;linkId=SGLM7XUEMJVFIKAB" target="blank">Micro SD</a></li>
                  <li><a href="http://en.wikipedia.org/wiki/Hard_disk_drive" target="blank">hard drive</a></li>
                </ul>
                <br>
                <h4>Shoutouts</h4>
                <ul>
                  <li><a href="http://thinkful.com/codenewbie" target="blank">Sponsored: Thinkful&#39;s Front End Web Development Course</a> (Saron)</li>
                  <li><a href="http://www.openframeworks.cc/" target="blank">openFrameworks</a> (Matt)</li>
                  <li><a href="http://www.adafruit.com/" target="blank">Ada Fruit</a> (Matt)</li>
                  <li><a href="http://learnpythonthehardway.org/" target="blank">Learn Python the Hard Way</a> (Matt)</li>
                  <li><a href="http://www.raspberrypi.org/creatives/" target="blank">Raspberry Pi Creative Technologists Program</a> (Saron)</li>
                  <li><a href="http://makerfaire.com" target="blank">Maker Faire</a> (Saron)</li>
                </ul>
              </div>
            </div>
          </div>
            <div class="episode">
              <div class="episode-header">
                <div class="media-object">
                  <figure class="episode-image media-figure">
                    <img src="http://frelow.smugmug.com/CodeNewbie/i-69kh96w/0/S/bill-S.jpg">
                  </figure>
                  <div class="episode-metadata media-metadata">
                    <h3 class="episode-title"><a href="http://www.codenewbie.org/blogs/getting-starting-with-making">Getting Started With Making</a></h3> 
                    <h3 class="episode-guest">Bill Gathen</h3>
                    <time class="episode-date" datetime="2015-3-14">March 14, 2015</time>
                  </div>
                </div>
                <p class="media-object-links">
                  <span class="codenewbie tag">CodeNewbie</span>
                </p>
              </div>
              <div class="episode-description">
                <div>
                  <p>
                    In <a href="http://www.codenewbie.org/blogs/getting-starting-with-making">this blog post</a>,
                    we walk you through how to get started with hardware. We've got a list of great inspirational talks,
                    some tools you can check out, and some beginner-friendly projects to get you up and making.
                  </p>
                </div>
              </div>
            </div>
      <div class="episode">
        <div class="episode-header">
          <div class="media-object">
            <figure class="episode-image media-figure">
              <img src="http://images.hanselminutes.com/images/466.jpg">
            </figure>
            <div class="episode-metadata media-metadata">
              <h3 class="episode-title"><a href="http://hanselminutes.com/466">Enclosures for your DIY hardware projects</a></h3>
              <h3 class="episode-guest">Bertrand Le Roy</h3>
              <time class="episode-date" datetime="2015-03-13">March 13, 2015</time>
            </div>
          </div>
          <audio class="episode-player" controls><source src="http://www.podtrac.com/pts/redirect.mp3/s3.amazonaws.com/hanselminutes/hanselminutes_0466.mp3" type="audio/mp3"></audio>
            <p class="media-object-links">
              <span class="hanselminutes tag">Hanselminutes</span>
              <a href="http://www.hanselminutes.com/subscribe" class="cta rss-feed">RSS</a>
              <a href="https://itunes.apple.com/us/podcast/hanselminutes/id117488860" class="cta itunes-link">iTunes</a>
            </p>
          </div>
          <div class="episode-description">
            <div>
              <p>Bertrand Le Roy has a PhD in theoretical physics and deep experience in both software and hardware development. His startup Nwazet sold hardware and software for makers. He talks to Scott about the importance of putting your DIY project in an enclosure you can count on. They also discuss 3D printing, CNC Machines, Laser Cutters, Makerspaces, and more!</p>
            </div>
            <div class="episode-description-links">
              <a class="cta js-show-notes">Show Notes</a>
            </div>
            <div class="show-notes">
              <ul>
                <li><a href="http://makezine.com/projects/make-41-tinkering-toys/diy-injection-molding/">DIY Injection Molding</a></li>
                <li><a href="http://www.shapeways.com/">Shapeways will make your stuff and mail it to you!</a></li>
                <li><a href="http://www.injectionmolder.net/">Get your own Injection Molder!</a></li>
                <li><a href="http://www.ponoko.com/">Ponoko makes your ideas real</a></li>
                <li><a href="http://en.wikipedia.org/wiki/Hackerspace">Hackerspaces have all this equipment near you!</a></li>
                <li><a href="http://hackaday.io/project/963-300-pick-and-place-3d-printer">Make a 3D printer into a Pick and Place Machine</a></li>
                <li><a href="http://bits.blogs.nytimes.com/2015/02/15/slice-and-carve-the-next-wave-in-computer-aided-creativity/?_r=3">NyTimes: Laser Cutters - Slice and Carve: The Next Wave in Computer-Aided Creativity</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="episode">
          <div class="episode-header">
            <div class="media-object">
              <figure class="episode-image media-figure">
                <img src="https://pbs.twimg.com/profile_images/446419165444710400/KWnO3_VY.png">
              </figure>
              <div class="episode-metadata media-metadata">
                <h3 class="episode-title">
                  <a href="http://www.codenewbie.org/chats/self-promotion">#CodeNewbie Twitter Chat: Promoting Your Work</a>
                </h3>
                <h3 class="episode-guest">CodeNewbie</h3>
                <time class="episode-date" datetime="2015-3-11">March 11, 2015</time>
              </div>
            </div>
            <p class="media-object-links">
              <span class="codenewbie tag">CodeNewbie</span>
            </p>
          </div>
          <div class="episode-description">
            <div>
              <p>
                This week, Julia Grace talked to us about the importance of marketing and showing off our skills.
                So we wanted to chat with you about how we can better promote our work, how it benefits us and others,
                and where we can start sharing the things we make.
                Take a look at our <a href="https://storify.com/CodeNewbies/self-promotion">storified chat</a>
                and starting showing off the awesome things you're making.
              </p>
            </div>
          </div>
        </div>
        <div class="episode">
          <div class="episode-header">
            <div class="media-object">
              <figure class="episode-image media-figure">
                <img src="/images/arduino.jpg">
              </figure>
              <div class="episode-metadata media-metadata">
                <a href="http://www.hanselman.com/blog/Arduino101WithAnIntelEdisonHookingUpJSONToAnLCDScreen.aspx"><h3 class="episode-title">Arduino 101 - Blood Sugar, an LCD, and an Intel Edison</h3></a>
                <h3 class="episode-guest">Scott Hanselman</h3>
                <time class="episode-date" datetime="2015-03-10">March 10, 2015</time>
              </div>
            </div>

            <p class="media-object-links">
              <span class="hanselminutes tag">Hanselman.com</span>
              <a href="http://feeds.hanselman.com/ScottHanselman" class="cta rss-feed">RSS</a>
            </p>
          </div>
          <div class="episode-description">
            <div class="episode-description-body">
              <p>I wanted to learn a little about Arduino this week. It's an huge and enthusiastic community based around an open-source electronics platform. The hardware is small and relatively inexpensive, and it brings hardware hacking to folks (like myself) that may not feel up to doing really low level electronics work. There or stackable "shields" you can plug on top and easily add new features, screens, sensors, and more.</p>
            </div>
            <div class="episode-description-links">
              <a class="cta js-show-notes">Show Notes</a>
            </div>
            <div class="show-notes">
              <h4>Links</h4>
              <ul>
                <li><a href="http://www.amazon.com/gp/product/B00ND1KH42/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00ND1KH42&linkCode=as2&tag=diabeticbooks&linkId=MQTV6U7DY6CKC2UH" target="blank">Intel Edison with Arduino Breakout</a></li>
                <li><a href="http://www.amazon.com/s/?_encoding=UTF8&camp=1789&creative=390957&field-keywords=seeed%20grove%20starter%20kit&linkCode=ur2&tag=diabeticbooks&url=search-alias%3Daps&linkId=DJOU4K2MDGAKTGUP" target="blank">Seeed Studio Grove Starter Kit</a></li>
                <li><a href="https://github.com/shanselman/NightscoutArduinoPlayground" target="blank">Scott's Beginner Code on Github</a></li>
                <li><a href="http://arduino.cc/en/Main/ArduinoBoardLilyPad" target="blank">Arduino Lilly Pad</a></li>
                <li><a href="http://123d.circuits.io" target="blank">Online FREE Arduino Simulator</a></li>
              </ul>
            </div>
          </div>
        </div>


        <div class="episode">
          <div class="episode-header">
            <div class="media-object">
              <figure class="episode-image media-figure">
                <img src="http://frelow.smugmug.com/CodeNewbie/i-5wbMrJ6/0/S/julia_grace-S.jpg">
              </figure>
              <div class="episode-metadata media-metadata">
                <a href="http://www.codenewbie.org/podcast/the-hardware-marketplace"><h3 class="episode-title">The Hardware Marketplace</h3></a>
                <h3 class="episode-guest">Julia Grace</h3>
                <time class="episode-date" datetime="2015-03-09">March 9, 2015</time>
              </div>
            </div>
            <audio class="episode-player" controls>
              <source src="http://www.podtrac.com/pts/redirect.mp3/static1.squarespace.com/static/5161ac76e4b0d5cb924e7ed5/t/54fd2e64e4b0c22201ef167d/1425878749694/Julia_Interview_mixdown.mp3/original/Julia_Interview_mixdown.mp3">
              </audio>
              <p class="media-object-links">
                <span class="codenewbie tag">CodeNewbie</span>
                <a href="http://feeds.podtrac.com/q8s8ba9YtM6r" class="cta rss-feed">RSS</a>
                <a href="https://itunes.apple.com/us/podcast/codenewbie/id919219256" class="cta itunes-link">iTunes</a>
              </p>
            </div>
            <div class="episode-description">
              <div class="episode-description-body">
                <p>Julia Grace talks to us about Tindie, the hardware marketplace where creators and hardware enthusiasts can come together to share their goods. We talk about the challenges of building a hardware platform, the different problems these makers are solving, and how software and hardware compare when it comes to accessibility.</p>
              </div>
              <div class="episode-description-links">
                <a class="cta js-show-notes">Show Notes</a>
              </div>
              <div class="show-notes">
                <h4>Links</h4>
                <ul>
                  <li><a href="http://www.thinkful.com/codenewbie" target="blank">Sponsor: Thinkful</a></li>
                  <li><a href="http://www.sitepoint.com/" target="blank">Sponsor: Sitepoint</a></li>
                  <li><a href="http://littlebits.cc" target="blank">littleBits</a></li>
                  <li><a href="http://juliaelman.com/blog/2013/08/20/teen-tech-camp-recap/" target="blank">Teen Tech Camp</a></li>
                  <li><a href="https://twitter.com/juliaelman/" target="blank">Julia Elman</a></li>
                  <li><a href="http://arduino.cc/en/Main/ArduinoBoardLilyPad" target="blank">Arduino Lilly Pad</a></li>
                  <li><a href="http://www.arduino.cc " target="blank">Arduino</a></li>
                  <li><a href="http://www.raspberrypi.org/" target="blank">Raspberry Pi</a></li>
                  <li><a href="https://saucelabs.com " target="blank">Sauce Labs</a></li>
                  <li><a href="https://saucelabs.com/selenium" target="blank">Selenium</a></li>
                  <li><a href="https://twitter.com/hugs" target="blank">Jason Huggins</a></li>
                  <li><a href="https://www.etsy.com/" target="blank">Etsy</a></li>
                  <li><a href="https://www.tindie.com" target="blank">Tindie</a></li>
                </ul>
                <br>
                <h4>Shoutouts</h4>
                <ul>
                  <li><a href="http://thinkful.com/codenewbie" target="blank">Sponsored: Thinkful&#39;s Front End Web Development Course</a></li>
                  <li><a href="http://juliahgrace.com/intro-hardware-hacking-arduino.html" target="blank">Intro to Hardware Hacking on Arduino</a> (Julia)</li>
                  <li><a href="http://www.adafruit.com/" target="blank">Ada Fruit</a> (Julia)</li>
                  <li><a href="https://medium.com/thelist/so-you-want-to-build-a-hardware-company-db757e47d039" target="blank">So you want to build a hardware company</a> (Julia)</li>
                  <li><a href="https://www.youtube.com/watch?v=MO0r930Sn_8" target="blank">Richard Feynman Magnets</a> (Saron)</li>
                  <li><a href="http://www.instructables.com " target="blank">Instructables</a> (Saron)</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="episode">
            <div class="episode-header">
              <div class="media-object">
                <figure class="episode-image media-figure">
                  <img src="http://images.hanselminutes.com/images/465.jpg">
                </figure>
                <div class="episode-metadata media-metadata">
                  <h3 class="episode-title"><a href="http://hanselminutes.com/465">3D Printing with Printrbot</a></h3>
                  <h3 class="episode-guest">Brook Drumm</h3>
                  <time class="episode-date" datetime="2015-03-06">March 6, 2015</time>
                </div>
              </div>
              <audio class="episode-player" controls><source src="http://www.podtrac.com/pts/redirect.mp3/s3.amazonaws.com/hanselminutes/hanselminutes_0465.mp3" type="audio/mp3"></audio>
                <p class="media-object-links">
                  <span class="hanselminutes tag">Hanselminutes</span>
                  <a href="http://www.hanselminutes.com/subscribe" class="cta rss-feed">RSS</a>
                  <a href="https://itunes.apple.com/us/podcast/hanselminutes/id117488860" class="cta itunes-link">iTunes</a>
                </p>
              </div>
              <div class="episode-description">
                <div>
                  <p>Brook Drumm took a successful Kickstarter and turned it into a fantastic business making Printrbot 3D Printers. Brook is also a co-star on the new Science Channel TV show "All-American Makers." </p>
                </div>
                <div class="episode-description-links">
                  <a class="cta js-show-notes">Show Notes</a>
                </div>
                <div class="show-notes">
                  <ul>
                    <li><a href="http://www.thingiverse.com">Thingiverse - Library of Creative Commons 3D models</a></li>
                    <li><a href="http://www.hanselman.com/blog/CategoryView.aspx?category=3D+Printing">The 3D Printing Category of Scott's Blog</a></li>
                    <li><a href="http://www.printrbot.com/">Printrbot - High quality, affordable 3D Printers</a></li>
                    <li><a href="http://www.sciencechannel.com/tv-shows/all-american-makers/">"All-American Makers" on the Science Channel</a></li>
                    <li><a href="http://www.hanselman.com/blog/TheBasicsOf3DPrintingIn2015FromSomeoneWith16WHOLEHOURSExperience.aspx">The Basics of 3D Printing in 2015</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="episode">
              <div class="episode-header">
                <div class="media-object">
                  <figure class="episode-image media-figure">
                    <img src="https://pbs.twimg.com/profile_images/446419165444710400/KWnO3_VY.png">
                  </figure>
                  <div class="episode-metadata media-metadata">
                    <h3 class="episode-title">
                      <a href="http://www.codenewbie.org/chats/getting-started-with-hardware">#CodeNewbie Twitter Chat: Getting Started With Hardware</a>
                    </h3>
                    <h3 class="episode-guest">CodeNewbie</h3>
                    <time class="episode-date" datetime="2015-3-4">March 5, 2015</time>
                  </div>
                </div>
                <p class="media-object-links">
                  <span class="codenewbie tag">CodeNewbie</span>
                </p>
              </div>
              <div class="episode-description">
                <div>
                  <p>
                    We dedicated our weekly #CodeNewbie twitter chat to hardware and making.
                    We had a great conversation full of projects, resources, and links to get you started in hardware.
                    Take a look at our <a href="https://storify.com/CodeNewbies/getting-started-with-hardware">storified chat</a>
                    and hear the stories from our makers, and soon-to-makers, in the CodeNewbie community.
                  </p>
                </div>
                <!-- <div class="episode-description-links">
                  <a class="cta js-show-notes">Blog Post Links</a>
                </div> -->
              </div>
            </div>
            <div class="episode">
              <div class="episode-header">
                <div class="media-object">
                  <figure class="episode-image media-figure">
                    <img src="/images/rpigooglehangout.jpg">
                  </figure>
                  <div class="episode-metadata media-metadata">
                    <h3 class="episode-title"><a href="https://www.youtube.com/watch?v=uDCS45YntqI">Raspberry Pi 101 - LIVE Hangout</a></h3>
                    <h3 class="episode-guest">Saron and Scott</h3>
                    <time class="episode-date" datetime="2015-3-4">March 4, 2015</time>
                  </div>
                </div>
                <!--<p class="media-object-links">
                  <span class="hanselminutes tag">Hanselman.com</span>
                  <a href="http://feeds.hanselman.com/ScottHanselman" class="cta rss-feed">RSS</a>
                </p>
                -->
                <div class="embed-container">
                  <iframe width="475" height="267"  src="https://www.youtube.com/embed/uDCS45YntqI" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
              <div class="episode-description">
                <div>
                  <p>Our first <a href="https://www.youtube.com/watch?v=uDCS45YntqI">Live Google Hangout</a>! Scott and Saron unbox a Raspberry Pi 2 and take a look and what they can do with it! Does it all start with blinking lights? What kind of investment is needed (both parts AND money)? How is a Pi different from an Arduino?</p>
                  <p>"The Raspberry Pi is a credit-card sized computer that plugs into your TV and a keyboard. It is a capable little computer which can be used in electronics projects, and for many of the things that your desktop PC does, like spreadsheets, word-processing and games."</p> 
                </div>
                <!-- <div class="episode-description-links">
                  <a class="cta js-show-notes">Blog Post Links</a>
                </div> -->
                <div class="hangout-notes">
                  <ul>
                    <li><a href="http://www.raspberrypi.org/">The Raspberry Pi Organization</a></li>
                    <li><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=213733&amp;creative=393193&amp;linkCode=shr&amp;tag=diabeticbooks&amp;linkId=EN7SYUDIDEJUHU6V&amp;rl=search-alias%3Daps&amp;field-keywords=raspberry+pi">Raspberry Pi at Amazon</a> </li>
                    <li><a href="http://t.co/Lo8pvJ4iEq">32 gig Micro SD Card</a> </li>
                    <li><a href="http://www.amazon.com/gp/product/B003MTTJOY/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B003MTTJOY&amp;linkCode=as2&amp;tag=diabeticbooks&amp;linkId=EH64NH5CGXO4O2OO">Edimax Wi-Fi USB Adapter</a> (amazing!) </li> 
                    <li><a href="http://www.hanselman.com/blog/ManyRaspberryPiProjectsHowCanYouNotLoveATinyComputer.aspx">Many Raspberry Pi projects</a> </li>
                    <li><a href="http://www.hanselman.com/blog/Top10RaspberryPiMythsAndTruths.aspx">Top 10 Raspberry Pi Myths and Truths</a> </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="episode">
              <div class="episode-header">
                <div class="media-object">
                  <figure class="episode-image media-figure">
                    <img src="/images/raspberrypi.jpg">
                  </figure>
                  <div class="episode-metadata media-metadata">
                    <h3 class="episode-title"><a href="http://www.hanselman.com/blog/HowToRunASPNET5Beta3OrGoLangOnARaspberryPi2.aspx">Running .NET or Go on a Raspberry Pi 2</a></h3> 
                    <h3 class="episode-guest">Scott Hanselman</h3>
                    <time class="episode-date" datetime="2015-3-3">March 3, 2015</time>
                  </div>
                </div>
                <p class="media-object-links">
                  <span class="hanselminutes tag">Hanselman.com</span>
                  <a href="http://feeds.hanselman.com/ScottHanselman" class="cta rss-feed">RSS</a>
                </p>
              </div>
              <div class="episode-description">
                <div>
                  <p>In <a href="http://www.hanselman.com/blog/HowToRunASPNET5Beta3OrGoLangOnARaspberryPi2.aspx">this blog post</a>, Scott takes his Raspberry Pi and compiles the .NET "Mono" open source framework and runs an ASP.NET 5 Web app. Then he installs the Go Language and runs and app. Raspberry Pis are fun and versatile!</p> 
                </div>
                <div class="episode-description-links">
                  <a class="cta js-show-notes">Blog Post Links</a>
                </div>
                <div class="show-notes">
                  <ul>
                    <li><a href="http://t.co/Lo8pvJ4iEq">32 gig Micro SD Card</a> </li>
                    <li><a href="http://www.amazon.com/gp/product/B003MTTJOY/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B003MTTJOY&amp;linkCode=as2&amp;tag=diabeticbooks&amp;linkId=EH64NH5CGXO4O2OO">Edimax Wi-Fi USB Adapter</a> (amazing!) </li> 
                    <li><a href="http://www.amazon.com/gp/product/B002VR6A9K/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B002VR6A9K&amp;linkCode=as2&amp;tag=diabeticbooks&amp;linkId=YCBC3NVCFBG6EZ4Z">Microsoft Arc Wireless Keyboard</a> although any USB Keyboard will work </li>    
                    <li><a href="http://www.amazon.com/gp/product/B002DPUUL4/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B002DPUUL4&amp;linkCode=as2&amp;tag=diabeticbooks&amp;linkId=NRLS7ZE7C55UA23D">Microsoft USB Wireless Mouse</a> although, again, any USB mouse will work </li>   
                    <li><a href="http://www.amazon.com/gp/product/B005CG2ATQ/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B005CG2ATQ&amp;linkCode=as2&amp;tag=diabeticbooks&amp;linkId=GBDGRFXLMGAV2S5G">A 2.1A (You need at least 1A) USB Adapter</a> - I've also had luck with Samsung phone USB power </li> 
                    <li><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=213733&amp;creative=393193&amp;linkCode=shr&amp;tag=diabeticbooks&amp;linkId=EN7SYUDIDEJUHU6V&amp;rl=search-alias%3Daps&amp;field-keywords=raspberry+pi">Raspberry Pi at Amazon</a> </li>
                    <li><a href="http://www.hanselman.com/blog/ManyRaspberryPiProjectsHowCanYouNotLoveATinyComputer.aspx">Many Raspberry Pi projects - How can you not love a tiny computer?</a> </li>
                    <li><a href="http://www.hanselman.com/blog/Top10RaspberryPiMythsAndTruths.aspx">Top 10 Raspberry Pi Myths and Truths</a> </li>
                    <li><a href="http://www.hanselman.com/blog/TheNewRaspberryPi2WillRunWindows10AndRunUniversalApps.aspx">The new Raspberry Pi 2 will run Windows 10 and run Universal Apps</a> </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="episode">
              <div class="episode-header">
                <div class="media-object">
                  <figure class="episode-image media-figure">
                    <img src="http://frelow.smugmug.com/CodeNewbie/i-kX4Stht/0/S/tumblr_inline_n1itp8oa0f1qb8x73-S.png">
                  </figure>
                  <div class="episode-metadata media-metadata">
                    <a href="http://www.codenewbie.org/podcast/from-software-to-hardware"><h3 class="episode-title">From Software to Hardware</h3></a>
                    <h3 class="episode-guest">Sara Chipps</h3>
                    <time class="episode-date" datetime="2015-03-02">March 2, 2015</time>
                  </div>
                </div>
                <audio class="episode-player" controls>
                  <source src="http://www.podtrac.com/pts/redirect.mp3/static1.squarespace.com/static/5161ac76e4b0d5cb924e7ed5/t/54f42e65e4b0376cee76c13f/1425288912176/Sara_chipps_Interview_mixdown.mp3/original/Sara_chipps_Interview_mixdown.mp3">
                  </audio>
                  <p class="media-object-links">
                    <span class="codenewbie tag">CodeNewbie</span>
                    <a href="http://feeds.podtrac.com/q8s8ba9YtM6r" class="cta rss-feed">RSS</a>
                    <a href="https://itunes.apple.com/us/podcast/codenewbie/id919219256" class="cta itunes-link">iTunes</a>
                  </p>
                </div>
                <div class="episode-description">
                  <div class="episode-description-body">
                    <p>When <a href="http://www.codenewbie.org/podcast/from-software-to-hardware">Sara Chipps sat in the audience</a> and watched a speaker use JavaScript to interact with a smoke detector, she was entranced. She left with a bag of LEDs, and a new love for hardware that led to her ultimately starting her hardware company Jewliebots. She talks to us about her transition from software developer to hardware CEO, the differences she's seen between building software and hardware, and what it's like to build a product for teenage girls.</p>
                  </div>
                  <div class="episode-description-links">
                    <a class="cta js-show-notes">Show Notes</a>
                  </div>
                  <div class="show-notes">
                    <ul>
                      <h4>Links</h4>
                      <li><a href="http://www.thinkful.com/codenewbie" target="blank">Sponsor: Thinkful</a></li>
                      <li><a href="http://www.sitepoint.com/" target="blank">Sponsor: Sitepoint</a></li>
                      <li><a href="http://jewliebots.com/" target="blank">Jewliebots</a></li>
                      <li><a href="https://twitter.com/reconbot" target="blank">Francis Gulotta</a></li>
                      <li><a href="http://rckbt.me" target="blank">Spark</a></li>
                      <li><a href="http://json.org" target="blank">JSON</a></li>
                      <li><a href="http://highway1.io" target="blank">Highway 1</a></li>
                      <li><a href="https://github.com/rwaldron/johnny-five" target="blank">Johnny Five</a></li>
                      <li><a href="https://twitter.com/rwaldron" target="blank">Rick Waldron</a></li>
                      <li><a href="http://en.wikipedia.org/wiki/Light-emitting_diode" target="blank">LED</a></li>
                      <li><a href="http://www.guinness.com/en-us/home.html" target="blank">Guiness beer</a></li>
                      <li><a href="https://www.linkedin.com/in/nexxy" target="blank">Emily Rose</a></li>
                      <li><a href="http://www.codenewbie.org/blogs/what-is-open-source" target="blank">Open source</a></li>
                      <li><a href="http://en.wikipedia.org/wiki/Mesh_networking" target="blank">Mesh network</a></li>
                      <li><a href="http://en.wikipedia.org/wiki/Soldering_iron" target="blank">Soldering irons</a></li>
                      <li><a href="http://www.amazon.com/gp/product/B000OQ21CA/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B000OQ21CA&amp;linkCode=as2&amp;tag=coden-20&amp;linkId=YR7IZJGNJYRTWFXO" target="blank">Wire strippers</a></li>
                      <li><a href="http://www.arduino.cc " target="blank">Arduino</a></li>
                    </ul>
                    <br>
                    <h4>Shoutouts</h4>
                    <ul class="triangle-list orange">
                      <li><a href="http://littlebits.cc" target="blank">littleBits</a> (Sara)</li>
                      <li><a href="http://nodebots.com" target="blank">NodeBots</a> (Sara)</li>
                      <li><a href="http://imgur.com/gallery/mVtXKZG" target="blank">The Motivation Game</a> (Saron)</li>
                      <li><a href="https://medium.com/thelist/so-you-want-to-build-a-hardware-company-db757e47d039" target="blank">So you want to build a hardware company and you&#39;re a software engineer</a> (Saron)</li>
                      <li><a href="http://www.thinkful.com/codenewbie" target="blank">Sponsored: Thinkful&#39;s Front End Web Development Course</a></li>
                    </ul>
                  </div>
                </div>
              </div>

            </section>

            <section id="about" class="alt-section">
              <div class="wrapper">
                <div class="callout">
                  <h3 class="intro-highlight">About</h3>
                  <h2 class="site-tagline">A month-long celebration of hardware and the power of making.</h2>
                  <p>The Maker Movement is in full swing.
                    This rekindled excitement about hardware and manufacturing has us
                    thrilled and sharing the joy of making with our family and friends.
                    It’s the beginning of Arts and Crafts 2.0 for makers, new and old.
                    So we are declaring this month Maker’s Month.</p>

                  <p>We’re <strong>Saron Yitbarek and Scott Hanselman, </strong>hosts of the CodeNewbie Podcast and Hanselminutes respectively.
                    This month, we’ll produce <strong>two episodes a week on each of our podcasts</strong>.
                    Join us on Mondays and Thursday all March long for new shows  with incredible
                    people creating  amazing stuff with DIY manufacturing, and innovative hardware.</p>

                  <p>Each show includes <strong>links to projects you can explore, books you can download,
                      products you can buy, teaching materials for the classroom,</strong> as well as lots of websites and other podcasts.
                    We have no affiliation with any of the guests or their companies, other
                    than we love their work and think you will too.</p>

                </p>
              </div>
            </div>
          </section>

          <section id="podcast-about" class="two-sections">
            <div class="left-section">
              <div class="left-wrapper">
                <article>
                  <figure class="episode-image media-figure">
                    <img src="/images/saronhead.jpg">
                  </figure>
                  <h3><a href="http://www.codenewbie.org/podcast">CodeNewbie Podcast</a></h3>
                  <p>We are the most supportive community of programmers and people learning to code.
                    Tune in every week for stories about people on their coding journey</p>
                  <a class="cta rss-feed" href="http://feeds.podtrac.com/q8s8ba9YtM6r" role="button">Subscribe</a>
                  <a class="cta itunes-link" role="button" href="https://itunes.apple.com/us/podcast/codenewbie/id919219256" role="button">iTunes</a>
                </article>
              </div>
            </div>

            <div class="right-section">
              <div class="right-wrapper">
                <article>
                  <figure class="episode-image media-figure">
                    <img src="/images/scotthead.jpg">
                  </figure>
                  <h3><a href="http://hanselminutes.com">Hanselminutes</a></h3>
                  <p>Hanselminutes is "Fresh Air for Developers." We're a weekly NPR-style interview show
                    with diverse technical voices and deep technical conversations.</p>
                  <a class="cta rss-feed" href="http://www.hanselminutes.com/subscribe" role="button">Subscribe</a>
                  <a class="cta itunes-link" href="https://itunes.apple.com/us/podcast/hanselminutes/id117488860" role="button">iTunes</a>
                </article>
              </div>
            </div>
          </section>
        </main>

        <footer class="site-footer" role="contentinfo">

        </footer>


