---
title: March is for Makers
---

<%# <!-- Fixed navbar --> %>
<%#     <nav class="navbar navbar-inverse navbar-fixed-top"> %>
<%#       <div class="container"> %>
<%#         <div class="navbar-header"> %>
<%#           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> %>
<%#             <span class="sr-only">Toggle navigation</span> %>
<%#             <span class="icon-bar"></span> %>
<%#             <span class="icon-bar"></span> %>
<%#             <span class="icon-bar"></span> %>
<%#           </button> %>
<%#           <a class="navbar-brand" href="#">Bootstrap theme</a> %>
<%#         </div> %>
<%#         <div id="navbar" class="navbar-collapse collapse"> %>
<%#           <ul class="nav navbar-nav"> %>
<%#             <li class="active"><a href="#">Home</a></li> %>
<%#             <li><a href="#about">About</a></li> %>
<%#             <li><a href="#contact">Contact</a></li> %>
<%#             <li class="dropdown"> %>
<%#               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a> %>
<%#               <ul class="dropdown-menu" role="menu"> %>
<%#                 <li><a href="#">Action</a></li> %>
<%#                 <li><a href="#">Another action</a></li> %>
<%#                 <li><a href="#">Something else here</a></li> %>
<%#                 <li class="divider"></li> %>
<%#                 <li class="dropdown-header">Nav header</li> %>
<%#                 <li><a href="#">Separated link</a></li> %>
<%#                 <li><a href="#">One more separated link</a></li> %>
<%#               </ul> %>
<%#             </li> %>
<%#           </ul> %>
<%#         </div><!--/.nav-collapse --> %>
<%#       </div> %>
<%#     </nav> %>

    <div class="jumbotron">
      <div class="text-center">
        <h1>March is for Makers</h1>
        <p>A month-long celebration of hardware and the power of making.</p>
        <p>
          a <%= link_to "CodeNewbie", "http://www.codenewbie.org" %> &amp
          <%= link_to "Hanselminutes", "http://hanselminutes.com" %> production
        </p>
        <a class="button" href="#about"><button>learn more</button></a>
      </div>
    </div>
    <div class="container" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->

      <div class="episodes row">
        <div class="col-lg-6">
          <img class="col-lg-4" src="http://frelow.smugmug.com/CodeNewbie/i-2hwDLN5/0/S/rebecca-S.jpg">
          <div class="col-lg-8 episode-details">
            <h3>3D Printing with Robotis</h3>
            <audio controls><source src="http://static1.squarespace.com/static/5161ac76e4b0d5cb924e7ed5/t/54eacd17e4b056f5cc430c48/1424674182475/Sarah_Frisk_Interview_mixdown.mp3/original/Sarah_Frisk_Interview_mixdown.mp3" type="audio/ogg"></audio>
            <p>Developer Sarah Frisk uses her incredible drawing skills to teach coding tools and concepts like git through her comic, Monster Markup Manual. We talk about her love of drawing, how art and code come together, and how monsters can do a great job of learning to code.</p>
          </div>
        </div>
        <div class="col-lg-6">
          <img class="col-lg-4" src="http://frelow.smugmug.com/CodeNewbie/i-2hwDLN5/0/S/rebecca-S.jpg">
          <div class="col-lg-8 episode-details">
            <h3>3D Printing with Robotis</h3>
            <audio controls><source src="http://static1.squarespace.com/static/5161ac76e4b0d5cb924e7ed5/t/54eacd17e4b056f5cc430c48/1424674182475/Sarah_Frisk_Interview_mixdown.mp3/original/Sarah_Frisk_Interview_mixdown.mp3" type="audio/ogg"></audio>
            <p>Developer Sarah Frisk uses her incredible drawing skills to teach coding tools and concepts like git through her comic, Monster Markup Manual. We talk about her love of drawing, how art and code come together, and how monsters can do a great job of learning to code.</p>
          </div>
        </div>
      </div>
      <footer class="row">
        <article class="text-center col-lg-offset-2 col-lg-8">
          <a name="about"><h2>About</h2></a>
          <p>The Maker Movement is in full swing.
            This rekindled excitement about hardware and manufacturing has us
            thrilled and sharing the joy of making with our family and friends.
            It’s the beginning of Arts and Crafts 2.0 for makers, new and old.
            So we  are declaring this month Maker’s Month.</p>

          <p>We’re Saron Yitbarek and Scott Hanselman, hosts of the CodeNewbie Podcast and Hanselminutes respectively.
            This month, we’ll produce  two episodes a week on each of our podcasts.
            Join us on Mondays and Thursday all March long for new shows  with incredible
            people creating  amazing stuff with DIY manufacturing, and innovative hardware.</p>

          <p>Each show includes links to projects you can explore, books you can download,
            products you can buy, teaching materials for the classroom, as well as lots of websites and other podcasts.
            We have no affiliation with any of the guests or their companies, other
            than we love their work and think you will too.</p>

          <p>Join us twice a week all month long, and be sure to tweet and spread the word that #MarchIsForMakers!</p>
        </article>
        <article class="col-lg-offset-1 col-lg-5">
          <h4>CodeNewbie Podcast</h4>
          <p>We are the most supportive community of programmers and people learning to code.
            Tune in every week for stories about people on their coding journey</p>
          <a class="btn btn-default" href="#" role="button">Subcribe</a>
        </article>
        <article class="col-lg-5">
          <h4>Hanselminutes</h4>
          <p>We are the most supportive community of programmers and people learning to code.
            Tune in every week for stories about people on their coding journey.</p>
          <a class="btn btn-default" href="#" role="button">Subcribe</a>
        </article>
      </footer>
    </div> <!-- /container -->

